APP_HOST="0.0.0.0"
APP_PORT=8001
APP_NAME="go-tech"
APP_LOG_LEVEL="debug"
APP_MIGRATION_PATH="migrations/sql"
SHOW_REQUEST=true
ALLOW_ORIGINS="http://localhost:3000" #use comma separate for multiple origins

DB_HOST = "localhost"
DB_PORT = 5432
DB_NAME = "db_name"
DB_USERNAME = "username"
DB_PASSWORD = "password"
DB_MAX_POOL_SIZE = 5
DB_BATCH_SIZE = 1000

REDIS_HOST = "localhost"
REDIS_PORT = 6379
REDIS_DIAL_CONNECT_TIMEOUT = "5s"
REDIS_READ_TIMEOUT = "5s"
REDIS_WRITE_TIMEOUT = "5s"
REDIS_IDLE_TIMEOUT = "10s"
REDIS_CONN_LIFETIME_MAX = "0s"
REDIS_CONN_IDLE_MAX = 5
REDIS_CONN_ACTIVE_MAX = 1000
REDIS_IS_WAIT = true
REDIS_NAMESPACE = "2"
REDIS_PASSWORD = ""
REDIS_LOCKER_TRIES = 1
REDIS_LOCKER_TRIES_RETRY_DELAY = "1s"
REDIS_LOCKER_EXPIRY = "5s"

CASBIN_MODEL_PATH = "path/rbac_model.conf"
CASBIN_POLICY_RELOAD_DURATION = "10s"
CASBIN_AUTO_MIGRATE_TABLE = true

JWT_ACCESS_SECRET = "secret"
JWT_REFRESH_SECRET = "secret"
JWT_ACCESS_TTL = "10m"
JWT_REFRESH_TTL = "60m"